<div class="footer">
  <div class="left">
    <div class="company-name">
      <h1>HaNaRa</h1>
    </div>
    <div class="desc">
      <strong
        >" enjoy your trip and <br />
        &nbsp;&nbsp;&nbsp;&nbsp; comeback with <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; your <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; suitcase full of <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;memories"</strong
      >
    </div>
    <div class="socials">
      <div class="fb">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
      </div>
      <div class="insta">
        <a href=""><i class="fa-brands fa-instagram"></i></a>
      </div>
      <div class="twit">
        <a href=""><i class="fa-brands fa-twitter"></i></a>
      </div>
      <div class="yt">
        <a href=""><i class="fa-brands fa-youtube"></i></a>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="rightup">
      <div class="right-prog">
        <h3>Program</h3>
        <ul>
          <li><a href="">Intership-Course</a></li>
          <li><a href="">Tourist-guide</a></li>
          <li><a href="">Working Holiday Program</a></li>
          <li><a href="">Study-abroad</a></li>
        </ul>
      </div>
      <div class="right-dest">
        <h3>Destination</h3>
        <ul>
          <li><a href="">Mumbai</a></li>
          <li><a href="">Russia</a></li>
          <li><a href="">Europe</a></li>
          <li><a href="">Antartica</a></li>
        </ul>
      </div>
      <div class="right-world">
        <h3>Worldunite</h3>
        <ul>
          <li><a href="">About-us</a></li>
          <li><a href="">Blog</a></li>
          <li><a href="">Contact-us</a></li>
        </ul>
      </div>
    </div>
    <div class="rightlow">
      <h4>Terms and Condition</h4>
      <h4>Imprint</h4>
      <h4>Privacy Policy</h4>
      <h4>Copyright 2025</h4>
    </div>
  </div>
</div>
