<% layout('/layout/boilerplate') %>
<div class="home-main">
  <div class="banner">
    <div class="content">
      <h2>Let's go to explore <br />magical places</h2>
      <h5>
        Giving you the opportunity to give back,<br/>learn and grow as your
        <br/>experience some of the most amazing places on earth.
      </h5>
      <button><a href="/contactus"> Book Your Journey</a></button>
    </div>
  </div>
  <div id="services" class="offers-main">
    <div class="offers-up">
      <h2>Services</h2>
    </div>
    <div class="offer-down">
      <div class="offer-down-left">
        <div class="offer-down-left-up">
          <img src="images/card3.jpg" alt="" />
        </div>
        <div class="offer-down-left-mid">
          <h3>tourist guide</h3>
        </div>
        <div class="offer-down-left-down">
          <a href="/tourist-guide"><button>click here</button></a>
        </div>
      </div>
      <div class="offer-down-mid">
        <div class="offer-down-mid-up">
          <img src="images/card2.jpg" alt="" />
        </div>
        <div class="offer-down-mid-mid">
          <h3>bookings</h3>
        </div>
        <div class="offer-down-mid-down">
          <a href="/bookings"><button>click here</button></a>
        </div>
      </div>
      <div class="offer-down-right">
        <div class="offer-down-right-up">
          <img src="images/card1.jpg" alt="" />
        </div>
        <div class="offer-down-right-mid">
          <h3>Hotels</h3>
        </div>
        <div class="offer-down-right-down">
          <a href="/hotels"><button>click here</button></a>
        </div>
      </div>
    </div>
  </div>
  <div class="activity-city">
    <div class="activity-city-up">
      <div class="activity-city-up-left">
        <h1>Trending <br> Places</h1>
      </div>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper one">
          <div class="swiper-slide swiper-slide-one">
            <h1>Louvre Museum</h1>
          </div>
          <div class="swiper-slide swiper-slide-two">
            <h1>Basílica de la Sagrada Familia</h1>
          </div>
          <div class="swiper-slide swiper-slide-three">
            <h1>Gardens by the Bay</h1>
          </div>
          <div class="swiper-slide swiper-slide-four">
            <h1>Colosseum</h1>
          </div>
          <div class="swiper-slide swiper-slide-five">
            <h1>Cayman Crystal Caves</h1>
          </div>
          <div class="swiper-slide swiper-slide-six">
            <h1>Eiffel-Tower</h1>
          </div>
          <div class="swiper-slide swiper-slide-seven">
            <h1>Anne Frank House</h1>
          </div>
          <div class="swiper-slide swiper-slide-eight">
            <h1>Empire State Building</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="activity-city-low">
      <div class="activity-city-low-up">
        <h1>Trending Activities</h1>
      </div>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide-nine">
            <h1>Biking</h1>
          </div>
          <div class="swiper-slide swiper-slide-ten">
            <h1>Heli-skiing</h1>
          </div>
          <div class="swiper-slide swiper-slide-eleven">
            <h1>camping</h1>
          </div>
          <div class="swiper-slide swiper-slide-twelve">
            <h1>Hot Air balloon</h1>
          </div>
          <div class="swiper-slide swiper-slide-thirteen">
            <h1>Bungee-jumping</h1>
          </div>
          <div class="swiper-slide swiper-slide-fourteen">
            <h1>Trekking</h1>
          </div>
          <div class="swiper-slide swiper-slide-fifteen">
            <h1>rafting</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
