<% layout("/layout/boilerplate") %>
<div class="Aboutus">
  <div class="Aboutus-left">
    <div class="img">
      <img
        id="aboutus-img"
        src="images/logo.jpg"
        alt=""
      />
    </div>
  </div>
  <div class="Aboutus-right">
    <h2>Who We Are</h2>
    <p>
      At haNaRa, we believe travel is more than just a trip – it’s an
      unforgettable experience. We’re a passionate team of explorers who are
      dedicated to helping you discover the world, one adventure at a time.
      Whether you're seeking hidden gems, luxury escapes, or local favorites,
      we’re here to guide you to your perfect destination. With personalized
      recommendations, insider tips, and seamless planning, we make travel easy,
      exciting, and memorable.
      <br />
      Let us help you create stories worth telling. Your next adventure starts
      here!
      <br />
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum at
      repellendus dicta alias suscipit? Laudantium illum dolorum, sunt expedita
      voluptas aspernatur repudiandae odio alias. Temporibus vel officiis
      officia quam quibusdam! Ipsa iure placeat voluptate, reiciendis omnis
      autem doloribus. Est omnis aspernatur incidunt atque consequatur autem
      porro sed asperiores eius possimus aperiam laboriosam maxime et, natus
      corrupti qui ea deleniti culpa. Quam, tempore quidem maxime, nihil
      possimus perspiciatis amet esse libero quis, deserunt architecto rerum
      qui? In voluptatem recusandae modi quisquam minima a ad ipsam eos ea,
      reprehenderit consequatur voluptatibus dignissimos? Laudantium pariatur
      tempora hic placeat expedita. Voluptatibus, quis temporibus repudiandae
      ipsum accusantium iste ea animi dignissimos numquam commodi alias ex
      suscipit beatae magni nobis. Unde, iusto? Reiciendis incidunt debitis
      possimus! Iste cumque maxime at minima. Autem dolorum esse, nostrum
      corporis repellat optio odit. Nemo nobis aspernatur accusantium vitae
      ipsum quasi ipsa rerum assumenda libero. Exercitationem labore quod
      recusandae necessitatibus dolorem.
    </p>
  </div>
</div>
