<% layout("/layout/boilerplate") %>
<div class="bookingss-main">
  <div class="bookingss-up">
    <h2>bookings</h2>
  </div>
  <div class="bookings-down">
    <div class="bookings-down-left">
      <div class="bookings-down-left-up">
        <img src="images/booking3.jpg" alt="" />
      </div>
      <div class="bookings-down-left-mid">
        <h3>Trains</h3>
      </div>
      <div class="bookings-down-left-down">
        <a
          href="https://www.railyatri.in/train-ticket/create-new-irctc-user?pt_source=googleads&pt_medium=cpc&pt_campaign=&gad_source=1&gclid=Cj0KCQiA4-y8BhC3ARIsAHmjC_GTpdkXgPnZnL0LiyF5LizOmMdN2sFtXhRHMN983XzSR-vmi3ih6CUaAumfEALw_wcB"
          ><button>click here</button></a
        >
      </div>
    </div>
    <div class="bookings-down-mid">
      <div class="bookings-down-mid-up">
        <img src="images/booking2.jpg" alt="" />
      </div>
      <div class="bookings-down-mid-mid">
        <h3>Flights</h3>
      </div>
      <div class="bookings-down-mid-down">
        <a
          href="https://www.ixigo.com/?utm_source=Google_Search&utm_medium=paid_search_google&utm_campaign=Generic_Search_Desktop_Sept&gad_source=1&gclid=Cj0KCQiA4-y8BhC3ARIsAHmjC_Gg18mUuWbgEZf-LxUWFySfF8zxD3mp8U4dtwVlf22ARaW5ePNWfh4aArqtEALw_wcB"
          ><button>click here</button></a
        >
      </div>
    </div>
    <div class="bookings-down-right">
      <div class="bookings-down-right-up">
        <img src="images/booking1.jpg" alt="" />
      </div>
      <div class="bookings-down-right-mid">
        <h3>buses</h3>
      </div>
      <div class="bookings-down-right-down">
        <a
          href="https://www.redbus.in/?gad_source=1&gclid=Cj0KCQiA4-y8BhC3ARIsAHmjC_HJnPRdw0T-K0SKNnS5uJjGHdNP944MlvAXfuZm21fP3n4NzFJpdTAaAm0rEALw_wcB"
          ><button>click here</button></a
        >
      </div>
    </div>
  </div>
</div>
