<% layout("/layout/boilerplate") %>
    <div class="hotels-main">
        <div class="hotels-up">
            <h2>Top Rated Hotels</h2>
        </div>
        <div class="hotels-low">
            <div class="hotels-low-up">
                <div class="hotel-low-up-left">
                    <div class="hotels-low-up-left-up">
                        <img src="images/hotel1.jpg" alt="">
                    </div>
                    <div class="hotels-low-up-left-mid">
                        <h3>capelella bankok</h3>
                    </div>

                </div>
                <div class="hotels-low-up-mid">
                    <div class="hotels-up-mid-up">
                        <img src="images/hotel2.jpg" alt="">
                    </div>
                    <div class="hotels-low-down-mid-mid">
                        <h3>lale combo</h3>
                    </div>

                </div>
                <div class="hotels-low-up-right">
                    <div class="hotels-low-up-right-up">
                        <img src="images/hotel3.jpg" alt="">
                    </div>
                    <div class="hotels-low-up-right-mid">
                        <h3>rosewood hongkong</h3>
                    </div>
                </div>
                <div class="hotel-low-up-4th">
                    <div class="hotels-low-up-4th-up">
                        <img src="images/hotel4.jpg" alt="">
                    </div>
                    <div class="hotels-low-up-4th-mid">
                        <h3>cheval blank</h3>
                    </div>

                </div>
                <div class="hotel-low-up-5th">
                    <div class="hotels-low-up-5th-up">
                        <img src="images/hotel5.jpg" alt="">
                    </div>
                    <div class="hotels-low-up-5th-mid">
                        <h3>the upper house</h3>
                    </div>

                </div>
            </div>
            <div class="hotels-low-down">
                <div class="hotel-low-down-left">
                    <div class="hotels-low-down-left-up">
                        <img src="images/hotel6.webp" alt="">
                    </div>
                    <div class="hotels-low-down-left-mid">
                        <h3>raffels singapaur</h3>
                    </div>

                </div>
                <div class="hotels-low-down-mid">
                    <div class="hotels-down-mid-up">
                        <img src="images/hotel7.webp" alt="">
                    </div>
                    <div class="hotels-low-down-mid-mid">
                        <h3>aman tokyo</h3>
                    </div>

                </div>
                <div class="hotels-low-down-right">
                    <div class="hotels-low-down-right-up">
                        <img src="images/hotel8.jpg" alt="">
                    </div>
                    <div class="hotels-low-down-right-mid">
                        <h3>soneva fusshi</h3>
                    </div>
                </div>
                <div class="hotels-low-down-4th">
                    <div class="hotels-low-down-4th-up">
                        <img src="images/hotel9.jpg" alt="">
                    </div>
                    <div class="hotels-low-down-4th-mid">
                        <h3>the royal</h3>
                    </div>

                </div>
                <div class="hotels-low-down-5th">
                    <div class="hotels-low-down-5th-up">
                        <img src="images/hotel10.jpg" alt="">
                    </div>
                    <div class="hotels-low-down-5th-mid">
                        <h3>nihi sumbha</h3>
                    </div>

                </div>
            </div>

            <div class="hotels-lower">
                <a href="https://www.agoda.com/en-in/city/dubai-ae.html?site_id=1922866&tag=8d6f1e31-6e70-4c6b-84b7-6357a176dccf&gad_source=1&device=c&network=g&adid=702707330603&rand=15176794103395985601&expid=&adpos=&aud=kwd-298393046111&gclid=Cj0KCQiA4-y8BhC3ARIsAHmjC_FW_gDu9jAu6UkhBEMvDZcMCixV8KMFvDrBouxYmbdylqAYm2L2F3MaAhYcEALw_wcB&pslc=1&ds=xATDGgIwVBQNCGXH" class="hotels-lower-btn"><button>Book your Hotels</button></a>
            </div>
        </div>
    </div>